// body{
//     background-color: red;
//     @media screen and (min-width: 320px) {
//     background-color: blue;
//     }
//     @media screen and (min-width: 768px) {
//         background-color: green;
//     }
//     @media screen and (min-width: 1200px) {
//         background-color: yellow;
//     }
// }
@import "mixin";
@import "variables";
@import "reset";

body {
  min-width: 330px;
  margin: 0 auto;
  @include flex-center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  header {
    align-items: flex-end;
    width: 100%;
  }
}

header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768) {
  header {
    align-items: center;
    @include flex-center;
  }
}

@media screen and (min-width: 20px) {
  .nav {
    @include flex-center;
    justify-content: flex-end;
  }
  a {
    color: $mainColor;
    font-family: $myFont;
    display: none;
  }
  .nav-btn {
    width: 44px;
    height: 37px;
    background: #000;
    margin-top: 1.25em;
    margin-bottom: 1.375em;
    margin-right: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    width: 800px;
    height: 55px;
    @include flex-center;
    // justify-content: space-evenly;
  }

  .a {
    color: $mainColor;
    font-family: $myFont;
    display: flex;
    text-decoration: none;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 200% */
    letter-spacing: 1.1px;
    padding-left: 3em;
  }

  .a:hover {
    color: #57a4a4;
  }

  .nav-btn {
    display: none;
    width: 44px;
    height: 37px;
    background: #000;
    margin-top: 1.25em;
    margin-bottom: 1.375em;
    margin-right: 1.5em;
  }
}

.pop {
  display: none;
}

.show {
  display: flex;
  width: 182px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  position: absolute;
  margin-top: 4em;
  background-color: aliceblue;
}

.nav-pop {
  color: $mainColor;
  font-family: $myFont;
  text-transform: uppercase;
  padding-left: 0.5em;
}

.nav-pop:hover {
  color: #57a4a4;
}

.main {
  // width: 320px;
  flex-direction: column;
  @include flex-center;
  align-items: flex-start;
  margin-left: 1em;
}

.main-section {
  @include flex-center;
  // width: 102vw;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .main-section {
    @include flex-center;
  }
}

// .intro-photo {
//   width: 44rem;
// }

.h1 {
  color: $mainColor;
  font-family: $myFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  align-items: start;
}

.recent-photos {
  @media screen and (min-width: 768px) {
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
  }


  // @include flex-center;
  // flex-direction: column;
  // align-items: flex-start;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.recent-photo {
  margin-top: 1.5em;
  width: 320px;
  @media screen and (min-width: 768px) {
    width: 34.75em;
    display: flex;
  }
}

.recent-text {
  font-family: $myFont;
  color: $textColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (min-width: 0px) {
  .recent-text {
    display: none;
  }
  .recent-photo:nth-child(4) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .recent-text {
    display: block;
  }
  .recent-photo-div {
    padding-left: 2em;
  }
  .recent-photo:nth-child(4) {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .recent-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.title {
  color: $mainColor;
  font-family: $myFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.addtion-text {
  color: $addtionColor;
  font-family: $myFont;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.inst-text {
  color: $mainColor;
  font-family: $myFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-top: 4em;
  text-transform: uppercase;
}

.inst-text:nth-child(2) {
  display: none;
}

@media screen and (min-width: 767px) {
  .inst-text:nth-child(2) {
    display: block;
    padding-right: 2.1em;
  }
  .inst-text-div {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .inst {
    margin-top: 1em;
    display: block;
    .inst-photo {
      display: none;
    }
    .inst-photo:first-child {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .inst {
    display: grid;
    grid-template-columns: repeat(3, 233px);
    gap: 20px;
  }
  .inst-photo {
    display: block;
    width: 100%;
    height: auto;
  }
  .inst-photo:nth-child(4){
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .inst {
    padding-left: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 233px);
    gap: 2rem;
  }
  .inst-photo {
    display: block;
    width: 100%;
    height: auto;
  }
  .inst-photo:nth-child(4){
    display: block;
  }
}

footer {
  background-color: #000;
  min-height: 19.75em;
  margin-top: 2.625em;
  @include flex-center;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  footer {
    width: 100%;
  }
}

.footer-section {
  @include flex-center;
}

.footer-section-text {
  p {
    color: $footerColor;
    text-align: center;
    font-family: $myFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.footer-title {
  color: $footerMainColor;
  font-family: $myFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.footer-text {
  color: $footerColor;
  text-align: center;
  font-family: $myFont;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.svg {
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  width: 34px;
  height: 34px;
}
