.allCars {
  margin-top: 30px;
  .carList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .carItem {
      max-width: 800px;
      height: auto;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
    }

    .carItemDiv{
      padding-top: 10px;
      display: block;
      min-width: 320px;
    }
  }
}

.carImg {
  width: 700px;
  height: 430px;
}
