.myBtn {
    padding: 5px 15px;
    color: rgb(74, 21, 130);
    font-size: 14px;
    background: transparent;
    border: 2px solid rgb(126, 42, 215);
    cursor: pointer;
    margin-left: 10px;
    height: 80px;
    width: 120px;
}