* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 1000px;
    height: 1000px;
    display: flex;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid red;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}