.basket {
  display: block;
  text-align: center;
  width: 100%;
  height: fit-content;

  h2 {
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    li {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        border: 2px solid #6002be;
      .img {
        width: 700px;
        height: 430px;
      }   
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    button{
      background-color: rgba(250, 31, 31, 0.511);
      color: rgb(46, 46, 46);
  }
  }

  p {
    color: rgb(133, 0, 250);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
