.notpage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large
    }
}