.editor {
  margin: 0 auto;
  margin-top: 3.25em;
  width: 80%;
}

.editor__h2 {
  color: #635c73;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.editor__p {
  margin-top: 1.75em;
  color: #323232;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.25em;
}

.editor__button-one {
  width: 15.625em;
  height: 1.625em;
}

.editor__button-two {
  width: 7.25em;
  height: 1.625em;
  margin-top: 1.25em;
}


@media screen and (min-width: 768px) {
  .editor__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .editor__button-one {
    width: 15.625em;
    height: 1.625em;
  }

  .editor__button-two {
    width: 7.25em;
    height: 1.625em;
    margin-top: -0.1em;
  }
}

.what-you-get {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7.5em;
}

.what-you-get__h2 {
  color: #8d81ac;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  width: 80%;
}

.what-you-get__div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.what-you-get__div-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

@media screen and (min-width: 768px) {
  .what-you-get__div-box {
    display: flex;
    flex-direction: row;
  }

  .what-you-get__div-content-text{
    min-width: 550px;

  }
}

.what-you-get__div-content-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.what-you-get__div-box:nth-child(5) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.what-you-get__div-content-photo {
  margin-top: 2.25em;

}

@media screen and (min-width: 768px) {
  .what-you-get__div-content-photo {
    margin-top: 2.25em;
    margin-left: 5em;
  }
}

.what-you-get__div-content-h6 {
  color: #323232;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 1.75em;
}

.what-you-get__div-content-p {
  color: #848e97;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 70%;
  margin-top: 0.75em;
}

@media screen and (min-width: 768px) {
  .what-you-get__div-content-p {
    color: #848e97;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 90%;
    margin-top: 0.75em;
  }
}

.what-you-get__div-content-photo-code {
  display: flex;
  align-items: flex-end;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pricing__title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  width: 100%;
  height: 4.5em;
  background-color: #5f3f62;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__boxes {
  background-color: #5f3f62;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .pricing__boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

.pricing__box {
  width: 75%;
  height: 29em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6e5f70;
  margin-bottom: 1em;
}

.pricing__box-h5 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  width: 100%;
  height: 97px;
  background-color: #756577;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__box-h3 {
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.pricing__box-text-time {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 20px;
}

.pricing__box-line {
  margin-top: 38px;
  width: 60px;
  height: 5px;
  background-color: #8d81ac;
}

.pricing__box-text-type {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 30px;
  width: 80%;
}

.pricing__box-btn {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 54px;
  width: 160px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/button.svg) ;
}
