.myBtn {
    padding: 5px 15px;
    color: rgb(9, 75, 23);
    font-size: 14px;
    background: transparent;
    border: 2px solid rgb(101, 20, 20);
    cursor: pointer;
    margin-left: 10px;
    height: 80px;
    width: 120px;
    margin-top: 20px;
    margin-left: 200px;
}

.myBtn:hover{
    background-color: rgba(178, 199, 181, 0.495);
}