.basket {
  display: block;
  text-align: center;
  width: 100%;
  height: fit-content;

  h2 {
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    li {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        border: 2px solid #6002be;
      .img {
        width: 700px;
        height: 430px;
      }   
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    button{
      background-color: rgba(250, 31, 31, 0.511);
      color: rgb(46, 46, 46);
  }
  }

  p {
    color: rgb(133, 0, 250);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
}

.form-popup button {
  margin-top: 10px;
}

.btn_buy{
  background-color: rgba(94, 255, 0, 0.406);
  width: 100px;
  height: 70px;
  color:rgb(65, 65, 65);
  font-size: large;
}

.success-popup{
  width: 150px;
  height: 100px;
  background-color: beige;
  .p_success{
    color: darksalmon;
  }
}