<footer>
  <h1 class="footer-title">- get in touch with us -</h1>
  <p class="footer-text">
    Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
    sed donec malesuada ullamcorper odio.
  </p>
  <section class="footer-section">
    <img src="@img/wifi.svg" alt="svg" class="svg wifi" />
    <img src="@img/facebook.svg" alt="svg" class="svg facebook" />
    <img src="@img/twitter.svg" alt="svg" class="svg twitter" />
    <img src="@img/dribbble.svg" alt="svg" class="svg dribbble" />
    <img src="@img/pinterest.svg" alt="svg" class="svg pinterest" />
  </section>
  <section class="footer-section-text">
  <p >Moonshine St. 14-05 Light City /</p>
  <p>T. +00 (123) 456 78 90 /</p>
  <p>first.last@email.com</p>
</section>
</footer>
