<header>
  <nav class="nav">
    <a href="#" class="a">Home</a>
    <a href="#" class="a">About Us</a>
    <a href="#" class="a">Our Journal</a>
    <a href="#" class="a">Projects</a>
    <a href="#" class="a">News</a>
    <a href="#" class="a">Features</a>
    <a href="#" class="a">Contact</a>
    <div class="nav-btn"><img src="@img/menu-button.svg" alt="" /></div>
  </nav>
  <aside class="pop">
    <div class="nav-pop">Home</div>
    <div class="nav-pop">About Us</div>
    <div class="nav-pop">our journal</div>
    <div class="nav-pop">projects</div>
    <div class="nav-pop">news</div>
    <div class="nav-pop">features</div>
    <div class="nav-pop">contact</div>
  </aside>
</header>
