.footer{
    width: 100%;
    height: 150px;
    background-color: #b0a8a8;
    margin-top: 30px;
    p{
        display: flex;
        justify-content: center;
        align-items: end;
        height: 50%;
    }
}

.footer-td{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
        th{
            color: rgb(203, 68, 68);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
        }     
}