.header{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid grey;
    .logo{
        width: 110px;
        height: 65px;
        margin-left: 20px;
    }
    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        .nav-text{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: larger;
        }
        .nav-text:hover{
            color: cadetblue;
        }
        .nav-input{
            height: 25px;
            margin-left: 20px;
        }
    }
    .headerAside{
        display: flex;
        justify-content: center;
        align-items: center;
        .fav{
            width: 30px;
            height: 18px;
        }
        div{
            display: flex;
        }

        .basCount{
            margin-left: 20px;
            margin-right: 5px;
        }

        .basket{
            width: 23px;
            height: 21px;
        }
    }
}