.firstModalBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
}

.addFavor{
    background-color: #a43aa1;
    color: #fff;
    width: 150px;
    height: 50px;
    border: 1px solid darkgrey;
    border-radius: 15%;
}