.myMdl{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #efe3e3 ;
    padding: 50px;
    z-index: 1000;
    border-radius: 8% ;
    width: 540px;
    height: 380px;
    display: block;
    text-align: center;
}

.overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.closeX{
    position: absolute;
    top:15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 20px;
    background-color:#efe3e3 ;
}